<!-- <li class="gistbox gistbox-flow" data-thing-id="{{_id}}">
    <a href="/flow/{{_id}}{{#collection}}/in/{{.}}{{/collection}}">
        <h1 class="gisttitle">{{description}}</h1>
    <p class="gistdescription">{{summary}}</p>
    <div class="gistbox-footer">
        <div class="gistbox-type">
        {{gitOwners.0}} {{#rating}}<i class="icon-star"></i><span class="gistbox-score">{{#toFixed}}{{score}}{{/toFixed}}</span>{{/rating}}
        </div>
        <div class="gistbox-owner">{{type}}</div>
    </div>
    </a>    
    {{>_gistboxTools}}
</li> -->
<li class="carousel-item" data-thing-id="{{_id}}">
    <a class="gallery-item-card-container" href="/app/{{_id}}{{#collection}}/in/{{.}}{{/collection}}" target="_self">
        <div class="gallery-item-cardHomePage" title="{{description}}">
            <div class="cover">
                <div class="icon-cell">
                    <img class="image-display item-icon"
                        src="{{flow_icon_url}}">
                    <div class="bowtie-icon" style="display: none;"></div>
                    <span style="visibility: hidden"></span>
                </div>
                <div class="core-info-cell">
                    <div class="name">
                        <span class="item-title">{{description}}</span>
                        <span class="text-fadeout"></span>
                    </div>
                    <div class="core-info-second-row">
                        <span class="installs">
                            <i class='bx bx-download'></i>
                            <span class="install-count">534K</span>
                        </span>
                        <div class="publisher">
                            <span title="{{gitOwners.0}}">{{gitOwners.0}}</span>
                            <span class="text-fadeout"></span>
                        </div>
                    </div>
                    <div class="core-info-third-row">
                        <!-- <i class="verified-domain-icon" title="Verified Domain"></i> -->
                        <div class="publisher-domain">
                            <span title="{{type}}">{{type}}</span>
                            <span class="text-fadeout"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stats-and-offer">
                <div class="rating-and-price">
                    <div role="img" class="rating">
                        <div class="rating-control">
                            {{#rating}}<i class="icon-star"></i><span class="gistbox-score">{{#toFixed}}{{score}}{{/toFixed}}</span>{{/rating}}
                            <!-- <img alt="" class="star full-star" src="https://cdn.vsassets.io/v/M221_20230510.21/_content/FullStar.svg">
                            <img alt="" class="star full-star" src="https://cdn.vsassets.io/v/M221_20230510.21/_content/FullStar.svg">
                            <img alt="" class="star full-star" src="https://cdn.vsassets.io/v/M221_20230510.21/_content/FullStar.svg">
                            <img alt="" class="star full-star" src="https://cdn.vsassets.io/v/M221_20230510.21/_content/FullStar.svg">
                            <img alt="" class="star full-star" src="https://cdn.vsassets.io/v/M221_20230510.21/_content/FullStar.svg"> -->
                        </div>
                    </div>
                    <div class="pricing-tag" "
                        title=" FREE">FREE</div>
                </div>
            </div>
        </div>
    </a>
    {{>_gistboxTools}}
</li>