{{#showTools}}
<div class="gistbox-tools">
    {{#ownedCollection}}
    <a class='pulse-button' href="#" onclick="javascript:removeFromCollection('{{_id}}'); return false;"></a><i onclick="javascript:removeFromCollection('{{_id}}'); return false;"
        class='bx bx-plus-circle bx-fade-hover' style='color:#1163f0; position: absolute; top: -49px; left: -43.5px; cursor: pointer;'></i></a>
    {{/ownedCollection}}
    {{^ownedCollection}}
    <a class='pulse-button' href="#" onclick="javascript:addToCollection('{{_id}}'); return false;"></a><i onclick="javascript:addToCollection('{{_id}}'); return false;"
        class='bx bx-plus-circle bx-fade-hover' style='color:#1163f0; position: absolute; top: -49px; left: -43.5px; cursor: pointer;'></i></a>
    {{/ownedCollection}}
</div>
{{/showTools}}