<div class="toolbar">
    <div class="grid">
      <div class="tab-collection-container" role="navigation">
          <div class="tab-collection">
              <ul class="tab-collection-left" role="tablist">
                  <!-- <li><a class="tab" href="https://nodered.org">Home</a></li>
                  <li><a class="tab" href="https://nodered.org/about">About</a></li>
                  <li><a class="tab" href="https://nodered.org/blog">Blog</a></li>
                  <li><a class="tab" href="https://nodered.org/docs/">Documentation</a></li> -->
                  <li class="current"><a class="tab" href="#">Flows</a></li>   
                  <!-- <li><a class="tab" href="https://discourse.nodered.org/">Forum</a></li>
                  <li><a class="tab" href="https://github.com/node-red">GitHub</a></li> -->
              </ul>
              <div class="tab-collection-right" style="position: relative;">
                  <span class="buttons">
                      <a href="/add"><i class="icon-plus"></i></a>
                      {{^sessionuser}} <a class="signin" href="/login"><span>Sign in with <b>GitHub</b></span><i class="icon-github"></i></a>
                      <script>$(function() { $(".signin").attr('href','/login?return='+window.location.pathname);});</script>
                      {{/sessionuser}}
                      {{#sessionuser}}<a class="user" href="/user/{{sessionuser.login}}"><img src="{{avatar_url}}"/></a>
                      <ul class="user-menu">
                          <li><a href="/user/{{sessionuser.login}}">{{sessionuser.login}}</a></li>
                          <li><hr></li>
                          <li><a href="/add/flow">Add Flow</a></li>
                          <li><a href="/add/collection">Add Collection</a></li>
                          <li><hr></li>
                          <li><a href="/settings">Settings</a></li>
                          <li><a href="/logout">Logout</a></li>
                      </ul>
                      <script>
                      var loggedInUser = "{{sessionuser.login}}";
                      $(function() {
                          $(document).on("mousedown.close-usermenu", function(evt) { $(".user-menu").hide(); });
                          $(".user-menu").on("mousedown", function(evt) { evt.stopPropagation(); })
                          $("a.user").on("mousedown", function(evt) { evt.stopPropagation(); })
                          $("a.user").on("click", function(evt) { evt.preventDefault(); $(".user-menu").toggle(); })
                      })</script>
                      {{/sessionuser}}
                  </span>
              </div>
          </div>
      </div>
    </div>
  </div>
  