{{>_header}}
<div class="grid add-form" style="background: none;">
    <div class="add-form-row">
        <div class="col-1-12">&nbsp;</div>
        <div class="col-10-12 thing-list-section" style="background: white; padding: 10px 50px;">
            <h2 class="pagetitle">Add a App</h2>
            <h4 class="add-flow-label"><label for="add-flow-title">Title</label></h4>
            <p>Give your flow a short, descriptive title. </p>
            <input id="add-flow-title" type="text"></input>
            <div style="position:relative">
                <div class="add-collection-title-warning dialog-warning">The title must be at least 10 characters long
                </div>
            </div>

            <h4 class="add-flow-label"><label for="add-flow-desc">Icon</label></h4>
            <p>Icon for your app </p>
            <div style="display: flex; align-items: center;">
                <label for="icon" class="icon-label"><img id="image-preview" src="#" alt="Preview"
                        style="width: 128px; height: 128px; display: none;"><span class="choose-btn"
                        style="display: flex; align-items: center;"><i class='bx bx-upload'
                            style="font-size:25px; color: goldenrod;"></i>Choose
                        Image</span></label>
                <input type="file" name="icon" id="icon" accept=".jpg,.png,.ico,.icons" style="display: none;">

            </div>
            <div style="position:relative">
                <div class="add-collection-icon-limit-warning dialog-warning">Icon file limit is 60kb </div>
                <div class="add-collection-icon-warning dialog-warning">Icon file must be .png , .jpeg or .ico</div>
                <div class="add-collection-icon-size-warning dialog-warning">Please choose image 128x128</div>
            </div>

            <h4 class="add-flow-label"><label for="add-flow-desc">Description</label></h4>
            <p>Describe what the App does and how it is used.</p>
            <p>This uses <a href="http://github.github.com/github-flavored-markdown/">GitHub Flavoured Markdown</a>
                for formatting. Use the <i>preview</i> tab to see how it looks.
            </p>

            <div class="add-collection-description-warning dialog-warning">The description must be at least 30
                characters long</div>
            <div style="padding-top: 10px;border: 1px solid #fff; position: relative;">
                <textarea id="add-flow-desc"></textarea>
                <div id="add-flow-desc-md"></div>
                <div class="add-flow-desc-buttons"><a href="#" class="active" id="add-flow-desc-edit">edit</a><a
                        href="#" class="inactive" id="add-flow-desc-preview">preview</a></div>
            </div>

            <h4 class="add-flow-label"><label for="add-flow-flow">Flow</label></h4>
            <p>In Node-RED, select the flow you want to export. Select <i>Export to
                    &gt; Clipboard</i> from the menu (Ctrl-E), copy the JSON from
                the dialog and paste here.
            </p>
            <textarea id="add-flow-flow"></textarea>
            <div style="position:relative">
                <div class="add-collection-flow-warning dialog-warning">The flow must contain at least one node</div>
            </div>

            <h4 class="add-flow-label"><label for="add-flow-tags">Tags</label></h4>
            <p>Add some tags to your flow that will help others find it. Comma- or space-separate the tags.</p>
            <ul class="flow-tags" id="add-flow-tags"></ul>

            <h4>&nbsp;</h4>
            <a id="add-flow-create" href="#" class="btn-create"><span id="add-flow-label" style="display: flex; align-items: center;">Create flow<i
                        class='bx bx-right-arrow-alt' style="font-size:25px; color: goldenrod;"></i></span><img
                    id="add-flow-loader" class="loader" src="/images/loader.gif" /></a>
            <p class="create-toc">This will create a private gist, owned by you, on GitHub and add it to the Node-RED
                flow library on your behalf.</p>

        </div>
    </div>
</div>
<script src="/js/marked.js"></script>
<script src="/js/tags.js"></script>
<script>
    let labelInputHover = document.querySelector('.icon-label');
    labelInputHover.addEventListener('mouseover', () => {
        document.querySelector('.bx.bx-upload').classList.add('bx-fade-up')
    })
    labelInputHover.addEventListener('mouseout', () => {
        document.querySelector('.bx.bx-upload').classList.remove('bx-fade-up')
    })
    let createBtnHover = document.querySelector('.btn-create');
    createBtnHover.addEventListener('mouseover', () => {
        document.querySelector('.bx.bx-right-arrow-alt').classList.add('bx-fade-right')
    })
    createBtnHover.addEventListener('mouseout', () => {
        document.querySelector('.bx.bx-right-arrow-alt').classList.remove('bx-fade-right')
    })

    $(function () {
        var iconValid = false;
        var titleValid = false;
        var descValid = false;
        var flowValid = false;

        let iconBase = "";
        $("#add-flow-title").keyup(function (e) {
            var val = $(this).val().trim();
            if (val.length < 10) {
                titleValid = false;
                $(".add-collection-title-warning").show();
                $(this).addClass("input-error");
            } else {
                titleValid = true;
                $(".add-collection-title-warning").hide();
                $(this).removeClass("input-error");
            }
        });
        $("#add-flow-desc").keyup(function (e) {
            var val = $(this).val().trim();
            if (val.length < 30) {
                descValid = false;
                $(".add-collection-description-warning").show();
                $(this).addClass("input-error");
            } else {
                descValid = true;
                $(".add-collection-description-warning").hide();
                $(this).removeClass("input-error");
            }
        });
        $("#icon").keyup(function (e) {
            var val = $(this).val().trim();
            if (val.length == 0) {
                iconValid = false;
                $(".add-collection-icon-warning").show();
                $(this).addClass("input-error");
            } else if (iconBase == "") {
                iconValid = false;
                $(".add-collection-icon-warning").show();
                $(this).addClass("input-error");
            }
            else {
                iconValid = true;
                $(".add-collection-icon-warning").hide();
                $(this).removeClass("input-error");
            }
        });
        function validateFlow(e) {
            var flow = $(this).val().trim();
            if (flow == "") {
                $(".add-collection-flow-warning").show();
                $(this).addClass("input-error");
                flowValid = false;
            } else {
                try {
                    var nodes = JSON.parse(flow);
                    if (!Array.isArray(nodes) || nodes.length === 0) {
                        $(".add-collection-flow-warning").show();
                        $(this).addClass("input-error");
                        flowValid = false;
                    } else {
                        $(".add-collection-flow-warning").hide();
                        $(this).removeClass("input-error");
                        flowValid = true;
                    }
                } catch (err) {
                    $(".add-collection-flow-warning").show();
                    $(this).addClass("input-error");
                    flowValid = false;
                }
            }
        }

        const inputElement = document.getElementById("icon");
        const imagePreview = document.getElementById('image-preview');
        const labelBtn = document.querySelector('.icon-label .choose-btn');

        inputElement.addEventListener("change", handleIcon, false);
        function handleIcon() {
            const fileList = this.files;
            if (fileList.length === 0) {
                $(".add-collection-icon-warning").show();
                $(".add-collection-icon-limit-warning").hide();
                $(".add-collection-icon-size-warning").hide();
                iconValid = false;
                return false;
            } else {
                const file = fileList[0];
                const fileSizeKB = file.size / 1024;
                console.log(fileSizeKB)
                if (!checkIcon(file)) {
                    $(".add-collection-icon-warning").show();
                    $(".add-collection-icon-limit-warning").hide();
                    $(".add-collection-icon-size-warning").hide();
                    iconValid = false;
                    return false;
                } else if (fileSizeKB > 60) {
                    $(".add-collection-icon-warning").hide();
                    $(".add-collection-icon-limit-warning").show();
                    $(".add-collection-icon-size-warning").hide();
                    iconValid = false;
                    return false;
                } else {
                    const reader = new FileReader();
                    reader.readAsDataURL(file);

                    reader.onload = function () {
                        const image = new Image();
                        image.src = reader.result
                        image.onload = function () {
                            const width = image.naturalWidth;
                            const height = image.naturalHeight;

                            if (width === 128 && height === 128) {
                                iconBase = reader.result;
                                labelBtn.innerHTML = '';
                                imagePreview.src = iconBase;
                                imagePreview.style.display = 'block';
                                $(".add-collection-icon-warning").hide();
                                $(".add-collection-icon-limit-warning").hide();
                                $(".add-collection-icon-size-warning").hide();
                            } else {
                                $(".add-collection-icon-warning").hide();
                                $(".add-collection-icon-limit-warning").hide();
                                $(".add-collection-icon-size-warning").show();
                                iconValid = false;
                                return false;
                            }
                        };

                    };

                    reader.onerror = function (error) {
                        console.log("Error: ", error);
                    };
                }
                iconValid = true;
                $(".add-collection-icon-warning").hide();
                $(".add-collection-icon-limit-warning").hide();
                $(".add-collection-icon-size-warning").hide();
                return true;
            }
        };
        function checkIcon(file) {
            const validImageTypes = ['image/jpeg', 'image/png', 'image/x-icon', 'image/icons'];
            if (!validImageTypes.includes(file.type)) {
                return false;
            }

            $(".add-collection-icon-warning").hide();
            return true;
        }

        $("#add-flow-flow").keyup(validateFlow);
        $("#add-flow-flow").on('paste', validateFlow);

        $('#add-flow-desc-preview').click(function (e) {
            var desc = $("#add-flow-desc").val();
            $("#add-flow-desc-md").html(marked(desc))
            $("#add-flow-desc").hide();
            $("#add-flow-desc-md").show();
            $('#add-flow-desc-preview').removeClass('inactive');
            $('#add-flow-desc-preview').addClass('active');
            $('#add-flow-desc-edit').removeClass('active');
            $('#add-flow-desc-edit').addClass('inactive');
            e.preventDefault();
        });
        $('#add-flow-desc-edit').click(function (e) {
            $("#add-flow-desc").show();
            $("#add-flow-desc-md").hide();
            $('#add-flow-desc-preview').removeClass('active');
            $('#add-flow-desc-preview').addClass('inactive');
            $('#add-flow-desc-edit').removeClass('inactive');
            $('#add-flow-desc-edit').addClass('active');
            $("#add-flow-desc").focus();
            e.preventDefault();
        });

        var createSubmitted = false;

        $('#add-flow-create').click(function (e) {
            e.preventDefault();
            if (createSubmitted) {
                return;
            }
            if (!titleValid || !descValid || !flowValid || !iconValid) {
                $("#add-flow-title").trigger("keyup");
                $("#add-flow-desc").trigger("keyup");
                $("#add-flow-flow").trigger("keyup");
                $("#icon").trigger("keyup");
                window.scrollTo(0, 0);
                return;
            }
            createSubmitted = true;
            $("#add-flow-label").hide();
            $("#add-flow-create").addClass("submitted");
            $("#add-flow-loader").show();
            var app = {
                title: $.trim($("#add-flow-title").val()),
                description: $("#add-flow-desc").val(),
                flow: $("#add-flow-flow").val(),
                tags: tags.get(),
                icondata: iconBase
            };
            $.post("/app", app, function (data) {
                window.location = data;
            }).fail(function (err) {
                if (err.status == 403) {
                    window.location.reload();
                }
                createSubmitted = false;
                console.log("ERROR", err);
                $("#add-flow-create").removeClass("submitted");
                $("#add-flow-loader").hide();
                $("#add-flow-label").show();
            });
        });

        var tags = tagger();
    });
</script>

{{>_footer}}