<script src="/js/marked.js"></script>
<script src="/js/tags.js"></script>

{{>_header}}
<div class="grid add-form" style="background: none;">
    <div class="add-form-row">
        <div class="col-1-12">&nbsp;</div>
        <div class="col-10-12 thing-list-section"
            style="background: white; padding: 10px 50px;">
            <h2 class="pagetitle">Add detail</h2>
        
            
            <form action="/source" method="post"  enctype="multipart/form-data">
                <br>
                <input type="text" id="myId" name="id" value="" readonly>
                <label for="zip">Zip File:</label>
                <input onchange="checkFileZip()" type="file" id="source" name="source" accept=".zip"><br><br>
                <div class="add-collection-img-warning dialog-warning" style="display:none">Only .zip</div>
                <!-- <label for="image">Image:</label>
                <input  accept=".jpg, .jpeg, .png, .ico" onchange="checkFileImg()" type="file" id="icon" name="icon"><br><br>
                <div style="position:relative"><div class="add-collection-img-warning dialog-warning">Only png, img, ico</div></div>-->
                <a id="add-flow-create" href="#" class="btn-upload">   <input type="submit" value="Submit" id="add-flow-label"></a> 
              
            </form>
        </div>
    </div>
</div>
<!-- -->
<script src="/js/marked.js"></script>
<script src="/js/tags.js"></script>
<script>
const urlParams = new URLSearchParams(window.location.search);
const ids = urlParams.get('id');

// Set the value of the "id" input field
// document.querySelector('p').textContent = ids;
document.getElementById('myId').value = ids;




function checkFileZip() {
  const fileInput = document.getElementById('source');
  const filePath = fileInput.value;
  const allowedExtensions = /(\.zip)$/i;

  if (!allowedExtensions.exec(filePath)) {
    const warningDiv = fileInput.parentElement.querySelector('.add-collection-zip-warning');
    warningDiv.style.display = 'block';
   
    return false;
  }
  

}


</script>

{{>_footer}}
