<script src="/js/marked.js"></script>
<script src="/js/tags.js"></script>

{{>_header}}
<div class="grid add-form" style="background: none;">
  <div class="add-form-row">
    <div class="col-1-12">&nbsp;</div>
    <div class="col-10-12 thing-list-section" style="background: white; padding: 10px 50px;">
      <h2 class="pagetitle">Add detail</h2>
      <h4><span id="title" style="color: black;"></span></h4>
      <form action="/source" method="post" enctype="multipart/form-data">

        <input type="hidden" id="myId" name="id" value="" readonly>
        <p>Uploading the source code of an application is a mandatory requirement.Uploading the source code of an
          application is a mandatory requirement
        </p>
        <label for="zip">Zip File:</label>
        <input onchange="checkFileZip()" type="file" id="source" name="source" accept=".zip"><br><br>
        <div class="add-collection-zip-warning dialog-warning">File must have type is .zip</div> <br> <br>

        <a id="add-flow-create"  class="btn-upload"> <input type="submit" value="Submit"
            id="upload-flow-label"></a>

      </form>
    </div>
  </div>
  <!-- -->
  <script src="/js/marked.js"></script>
  <script src="/js/tags.js"></script>
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const ids = urlParams.get('id');
    const name = urlParams.get('name');
    document.getElementById('myId').value = ids;

    document.getElementById('title').textContent = decodeURIComponent(name);

    const zipValid = false;
    function checkFileZip() {
      const fileInput = document.getElementById('source');
      const filePath = fileInput.value;
      const allowedExtensions = /(\.zip)$/i;

      if (!allowedExtensions.exec(filePath)) {
     
        $(".add-collection-zip-warning").show();
        zipValid = false
        return false;
      }
      $(".add-collection-zip-warning").hide();
      zipValid = true;
      return true
    }

    uploadButton.addEventListener('click', (event) => {
      if (!zipValid) {
        event.preventDefault(); 
        $(".add-collection-zip-warning").show();
      }
    });
  </script>

  {{>_footer}}