{{>_header}}
<script>
    $(window).scroll(function () {
        if ($(window).scrollTop() > 80) {
            $('#section-banner').addClass('static');
            $('#section-banner').removeClass('dynamic');
            $('.itemDetails').addClass('static')
            $('.itemDetails').removeClass('dynamic')
            $('.itemDetails-right').addClass('static')
            $('.itemDetails-right').removeClass('dynamic')
            $('.version-history-top-container').removeClass('dynamic')
            $('.version-history-top-container').addClass('static')
            $('.guideline-tab').removeClass('dynamic')
            $('.guideline-tab').addClass('static')

        } else {
            $('#section-banner').removeClass('static');
            $('#section-banner').addClass('dynamic');
            $('.itemDetails').addClass('dynamic')
            $('.itemDetails').removeClass('static')
            $('.itemDetails-right').addClass('dynamic')
            $('.itemDetails-right').removeClass('static')
            $('.version-history-top-container').removeClass('static')
            $('.version-history-top-container').addClass('dynamic')
            $('.guideline-tab').removeClass('static')
            $('.guideline-tab').addClass('dynamic')
        }
    });


</script>
<div class="page-content" style="display: block; min-height: 100%; position: relative;">
    <div id="gallery-content">
        <div class="main-content item-details-main-content" id="vss_1">
            <div class="item-details-control-root">
                <div class="ux-item-details" role="main">
                    <div class="ux-section-banner dynamic" id="section-banner">
                        <div class="ux-section-core gallery-centered-content">
                            <table role="presentation">
                                <tbody>
                                    <tr>
                                        <td class="item-img" id="vss_2">
                                            <img class="image-display" src="{{{icon_flow}}}"
                                                style="top: 20px; visibility: visible;">
                                            <div class="bowtie-icon" style="display: none;"></div>
                                        </td>
                                        <td class="item-header">
                                            <div class="item-header-content light">
                                                <h1><span class="ux-item-name">{{ description }}</span>
                                                </h1>
                                                <div class="ux-item-second-row-wrapper">
                                                    <div class="ux-item-publisher">
                                                        <h2 role="presentation"><a
                                                                class="ux-item-publisher-link item-banner-focussable-child-item"
                                                                href="/user/{{ owner.login }}"
                                                                style="color: rgb(0, 0, 0);">{{ owner.login }}</a></h2>
                                                    </div>
                                                    <div class="ux-verified-domain-icon">
                                                        <div>
                                                            <div class="verified-publisher-domain-container">
                                                                <div class="verified-domain-icon-container">
                                                                </div><a href="/search?type=app"
                                                                    class="verified-publisher-domain-url"
                                                                    style="color: #1163f0;">{{type}}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="divider"> | </span>
                                                    <div class="ux-item-rating">
                                                        <span class="installs-text">Created {{ created_at_since
                                                            }}</span>
                                                    </div>
                                                    <div class="ux-item-review-rating-wrapper">
                                                        <span class="ux-item-review-rating">
                                                            <span class="divider"> | </span>
                                                            <span class="ux-item-rating-control">
                                                                <span class="rating-control">
                                                                    <form id="form-rate"
                                                                        action="/extension/{{_id}}/rate" method="POST">
                                                                        <input name="_csrf" type="hidden"
                                                                            value="{{csrfToken}}">
                                                                        <input name="rating" type="hidden">
                                                                        <div class="flowinfo">Rate: <span
                                                                                id="set-stars"></span> 
                                                                    </form>
                                                                </span>
                                                            </span>
                                                            <span class="ux-item-rating-count">
                                                                <span>{{count}}</span></span>
                                                        </span>
                                                    </div>
                                                    <span class="divider"> | </span>
                                                    <div>
                                                        <div class="rating-control" style="font-size: 14px; margin-left: 10px;">
                                                            {{#rating}} Rating: {{score}}  <i class="icon-star" style="color: yellowgreen;"></i><span class="gistbox-score"></span>  {{count}} <i class="icon-user" style="color: yellowgreen;"></i>{{/rating}}
                                                                
                                                        </div>
                                                    </div>
                                                    <span class="divider"> | </span>
                                                    <span class="item-price-category"><a href="{{ html_url }}"
                                                            style="color: #1163f0;" target="_blank">View on
                                                            gitlab</a></span>
                                                    <div class="ux-vsippartner" style="display: none;">
                                                        <span class="divider"> | </span>
                                                        <img role="none"
                                                            src="https://cdn.vsassets.io/v/M221_20230510.21/_content/icon-vsip-partner.png">
                                                    </div>
                                                </div>
                                                <div class="ux-item-shortdesc">{{summary}}</div>
                                                <div class="ux-item-action" style="display: flex; align-items: center;">
                                                    <a class="download-button-container" href="mgt-eco-app://open">
                                                        <button class="ux-button install" onclick="">Install</button>
                                                    </a>
                                                    <span style="display: none;"></span>
                                                    {{#owned}}
                                                    <button class="btn-cssbuttons">
                                                        <span>
                                                            <svg width="20px" height="20px" viewBox="0 0 24 24"
                                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                                    stroke-linejoin="round"></g>
                                                                <g id="SVGRepo_iconCarrier">
                                                                    <path d="M19 22V11" stroke="#ffffff"
                                                                        stroke-width="1.5" stroke-miterlimit="10"
                                                                        stroke-linecap="round" stroke-linejoin="round">
                                                                    </path>
                                                                    <path d="M19 7V2" stroke="#ffffff"
                                                                        stroke-width="1.5" stroke-miterlimit="10"
                                                                        stroke-linecap="round" stroke-linejoin="round">
                                                                    </path>
                                                                    <path d="M12 22V17" stroke="#ffffff"
                                                                        stroke-width="1.5" stroke-miterlimit="10"
                                                                        stroke-linecap="round" stroke-linejoin="round">
                                                                    </path>
                                                                    <path d="M12 13V2" stroke="#ffffff"
                                                                        stroke-width="1.5" stroke-miterlimit="10"
                                                                        stroke-linecap="round" stroke-linejoin="round">
                                                                    </path>
                                                                    <path d="M5 22V11" stroke="#ffffff"
                                                                        stroke-width="1.5" stroke-miterlimit="10"
                                                                        stroke-linecap="round" stroke-linejoin="round">
                                                                    </path>
                                                                    <path d="M5 7V2" stroke="#ffffff" stroke-width="1.5"
                                                                        stroke-miterlimit="10" stroke-linecap="round"
                                                                        stroke-linejoin="round"></path>
                                                                    <path d="M3 11H7" stroke="#ffffff"
                                                                        stroke-width="1.5" stroke-miterlimit="10"
                                                                        stroke-linecap="round" stroke-linejoin="round">
                                                                    </path>
                                                                    <path d="M17 11H21" stroke="#ffffff"
                                                                        stroke-width="1.5" stroke-miterlimit="10"
                                                                        stroke-linecap="round" stroke-linejoin="round">
                                                                    </path>
                                                                    <path d="M10 13H14" stroke="#ffffff"
                                                                        stroke-width="1.5" stroke-miterlimit="10"
                                                                        stroke-linecap="round" stroke-linejoin="round">
                                                                    </path>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                        <ul>
                                                            <li>
                                                                <a href="/extension/update/{{_id}}" title="Update extension"><svg
                                                                        width="20px" height="20px" viewBox="0 0 24 24"
                                                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                                        <g id="SVGRepo_tracerCarrier"
                                                                            stroke-linecap="round"
                                                                            stroke-linejoin="round"></g>
                                                                        <g id="SVGRepo_iconCarrier">
                                                                            <path d="M13 21H21" stroke="#ffffff"
                                                                                stroke-width="2" stroke-linecap="round"
                                                                                stroke-linejoin="round"></path>
                                                                            <path
                                                                                d="M20.0651 7.39423L7.09967 20.4114C6.72438 20.7882 6.21446 21 5.68265 21H4.00383C3.44943 21 3 20.5466 3 19.9922V18.2987C3 17.7696 3.20962 17.2621 3.58297 16.8873L16.5517 3.86681C19.5632 1.34721 22.5747 4.87462 20.0651 7.39423Z"
                                                                                stroke="#ffffff" stroke-width="2"
                                                                                stroke-linecap="round"
                                                                                stroke-linejoin="round"></path>
                                                                            <path d="M15.3097 5.30981L18.7274 8.72755"
                                                                                stroke="#ffffff" stroke-width="2"
                                                                                stroke-linecap="round"
                                                                                stroke-linejoin="round"></path>
                                                                        </g>
                                                                    </svg></a>
                                                            </li>
                                                            <li>
                                                                <a id="remove-flow" title="Remove extension"><svg width="20px"
                                                                        height="20px" viewBox="0 0 24 24" fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg">
                                                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                                        <g id="SVGRepo_tracerCarrier"
                                                                            stroke-linecap="round"
                                                                            stroke-linejoin="round"></g>
                                                                        <g id="SVGRepo_iconCarrier">
                                                                            <path
                                                                                d="M10 12L14 16M14 12L10 16M18 6L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6"
                                                                                stroke="#ffffff" stroke-width="2"
                                                                                stroke-linecap="round"
                                                                                stroke-linejoin="round"></path>
                                                                        </g>
                                                                    </svg></a>
                                                            </li>
                                                        </ul>
                                                    </button>
                                                    {{/owned}}
                                                </div>
                                                <div class="ux-item-free-install" style="display: none;"></div>
                                                <div class="ux-item-offers-cost-text" style="display: none;"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="gallery-centered-content">
                        <div class="ux-section-details" id="tes12">
                            <div>
                                <div class="ms-Fabric ux-section-details-tabs root-40">
                                    <div>
                                        <div class="ms-FocusZone">
                                            <ul class="ms-Pivot root_8766283c ms-Pivot--large rootIsLarge_8766283c"
                                                role="tablist">
                                                <button type="button" id="Pivot0-Tab0"
                                                    class="tab-header ms-Button ms-Pivot-link link_8766283c is-selected linkIsSelected_8766283c ms-Button--action ms-Button--command root-41"
                                                    role="tab" aria-selected="true" name="Overview"
                                                    aria-label="Overview" data-is-focusable="true" tabindex="0">
                                                    <div class="ms-Button-flexContainer flexContainer-42"><span
                                                            class="ms-Pivot-link-content"><span
                                                                class="ms-Pivot-text text_8766283c">
                                                                Overview</span></span>
                                                    </div>
                                                </button>
                                                <button type="button" id="Pivot0-Tab1"
                                                    class="tab-header ms-Button ms-Pivot-link link_8766283c ms-Button--action ms-Button--command root-41"
                                                    role="tab" aria-selected="false" name="Q &amp; A"
                                                    aria-label="Q &amp; A" data-is-focusable="true" tabindex="-1">
                                                    <div class="ms-Button-flexContainer flexContainer-42"><span
                                                            class="ms-Pivot-link-content"><span
                                                                class="ms-Pivot-text text_8766283c">Guideline</span></span>
                                                    </div>
                                                </button>
                                                <button type="button" id="Pivot0-Tab2"
                                                    class="tab-header ms-Button ms-Pivot-link link_8766283c ms-Button--action ms-Button--command root-41"
                                                    role="tab" aria-selected="false" name="Q &amp; A"
                                                    aria-label="Q &amp; A" data-is-focusable="true" tabindex="-1">
                                                    <div class="ms-Button-flexContainer flexContainer-42"><span
                                                            class="ms-Pivot-link-content"><span
                                                                class="ms-Pivot-text text_8766283c">Version</span></span>
                                                    </div>
                                                </button>
                                        </div>
                                        <div class="container-content">
                                            <div role="tabpanel" class="tab-content" aria-labelledby="Pivot0-Tab0">
                                                <div>
                                                    <div class="details-tab itemdetails">
                                                        <table class="ux-section-details-table" role="presentation">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="ux-itemdetails-left">
                                                                        <div class="itemDetails">
                                                                            <div class="markdown">
                                                                                {{{ readme }}}
                                                                                <!-- <h2 id="user-content-optimize-images"
                                                                                    class="link-header">Flow</h2>
                                                                                <pre id="flow"
                                                                                    class="highlight language-javascript"><button class="copy-button" id="copy-button" onclick="copyFlow();" type="button" >Copy</button><span id="FlowCode">{{ flow }}</span></pre> -->
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="ux-itemdetails-right"
                                                                        role="complementary">
                                                                        <div class="itemDetails-right">
                                                                            <div class="meta-data-list-container">
                                                                                <div class="ux-section-meta-data-list">
                                                                                    <h3
                                                                                        class="itemdetails-section-header right">
                                                                                        Tags
                                                                                    </h3>
                                                                                    <div class="meta-data-list"
                                                                                        role="group">
                                                                                        <ul class="flow-tags">
                                                                                            {{#tags}}
                                                                                            <li tag="{{.}}">{{.}}</li>
                                                                                            {{/tags}}
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- <div class="ux-section-resources">
                                                                            <h3
                                                                                class="itemdetails-section-header right">
                                                                                Resources</h3>
                                                                            <ul>
                                                                                <li><a href="https://marketplace.visualstudio.com/items/MadsKristensen.ImageOptimizer/license"
                                                                                        target="_blank"
                                                                                        rel="noreferrer noopener nofollow">License</a>
                                                                                </li>
                                                                                <li><button role="button"
                                                                                        aria-label="Copy ID Click to copy the extension's ID to clipboard."
                                                                                        class="ms-Link link-as-button undefined root-75"
                                                                                        aria-disabled="false">Copy
                                                                                        ID</button>
                                                                                    <div class="copied-display-container"
                                                                                        role="status"
                                                                                        aria-live="polite">
                                                                                        <div class="copyID-display-div"
                                                                                            id="copied-animation">
                                                                                            Copied to
                                                                                            clipboard</div>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div> -->

                                                                            <div class="ux-section-capabilities">
                                                                                <h3
                                                                                    class="itemdetails-section-header right">
                                                                                    Using</h3>
                                                                                <div class="capabilities-list-item">
                                                                                    Install extension to Market-App like
                                                                                    <i>Install chorme extension</i>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-content" aria-labelledby="Pivot0-Tab1">
                                                <div>
                                                    <div class="details-tab">
                                                        <div class="guideline-tab">
                                                            <div class="w3-container">
                                                                <h2>Slideshow Indicators</h2>
                                                                <p>An example of using buttons to indicate how many
                                                                    slides
                                                                    there are
                                                                    in the slideshow, and which slide the user is
                                                                    currently
                                                                    viewing.
                                                                </p>
                                                            </div>
                                                            <div class="w3-content w3-display-container">
                                                                <div class="inner-preview-img">
                                                                    {{#imgGuidelineUrl}}
                                                                    <img class="mySlides" src="{{url}}"
                                                                        style="width:100%">
                                                                    {{/imgGuidelineUrl}}
                                                                </div>
                                                                <div class="w3-move-button">
                                                                    <div class="w3-left " onclick="plusDivs(-1)">
                                                                        &#10094;
                                                                    </div>
                                                                    <div class="w3-right" onclick="plusDivs(1)">&#10095;
                                                                    </div>
                                                                </div>
                                                                <div class="w3-center-button">
                                                                    {{#imgGuidelineUrl}}
                                                                    <span class="w3-badge demo"
                                                                        onclick="currentDiv({{idx}} + 1)"></span>
                                                                    {{/imgGuidelineUrl}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-content" aria-labelledby="Pivot0-Tab2">
                                                <div>
                                                    <div class="details-tab">
                                                        <div class="version-history-top-container">
                                                            <div class="ms-grid vh-redirection-message-bar-container">
                                                                <div class="vh-redirection-message-bar"><i
                                                                        class="vh-redirection-info-icon bowtie-icon bowtie-status-info-outline"></i><span
                                                                        class="vh-redirection-info-text"
                                                                        role="status"><a
                                                                            href="https://marketplace.visualstudio.com/items/adpyke.codesnap/changelog"
                                                                            target="_blank" rel="noreferrer noopener"
                                                                            title="Changelog"
                                                                            class="vh-redirection-info-text-anchor-tag">CHANGE
                                                                            LOG</a></span></div>
                                                            </div>
                                                            <div class="ms-Grid version-history-container-grid">
                                                                <table class="version-history-table" role="table"
                                                                    aria-label="Version History Table">
                                                                    <thead class="version-history-table-thead">
                                                                        <tr class="version-history-container-row">
                                                                            <th
                                                                                class="version-history-container-column">
                                                                                Version</th>
                                                                            <th
                                                                                class="version-history-container-column">
                                                                                Last Updated</th>
                                                                            <th
                                                                                class="version-history-container-column">
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody class="version-history-table-body">
                                                                        {{#versions}}
                                                                        <tr class="version-history-container-row">
                                                                            <td
                                                                                class="version-history-container-column">
                                                                                {{version}}</td>
                                                                            <td class="version-history-container-column"
                                                                                title="{{last_update}}">{{last_update}}
                                                                            </td>
                                                                            <td
                                                                                class="version-history-container-column">
                                                                                <a href="" rel="noreferrer noopener"
                                                                                    title="Download"
                                                                                    aria-label="version {{version}} Download">Download</a>
                                                                            </td>
                                                                        </tr>
                                                                        {{/versions}}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>_rateTools}}
<script src="/js/tags.js"></script>
<script>
    $(function () {
        $('#refresh-flow').click(function (event) {
            $("#refresh-flow-loader").show();
            $.post("/extension/{{ id }}/refresh", function (data, textStatus, jqXHR) {
                if (jqXHR.status != 304) {
                    window.location.reload();
                }
                $("#refresh-flow-loader").hide();
            }).fail(function (err) {
                window.location.reload();
            });
            event.preventDefault();
        });

        $('#remove-flow').click(function (evt) {
            evt.preventDefault();
            var dialog = $('<div class="dialog-shade"><div class="dialog">' +
                '<form action="/extension/{{id}}/delete" method="POST">' +
                '<input name="_csrf" type="hidden" value="{{csrfToken}}">' +
                '<h4>Are you sure you want to remove this app?</h4>' +
                '<p>It will be removed from the library, but your GitHub Gist will not be affected.' +
                '<div class="dialog-buttons"><button type="button" onclick="return closeDialog();">Cancel</button><button type="submit">Delete</button></div>' +
                '</form></div></div>').appendTo('body').show();
        });


        var tagEditor = null;
        $('#edit-tags').click(function (event) {
            event.preventDefault();
            $('ul.flow-tags').attr('id', "add-flow-tags");
            tagEditor = tagger({ lipre: '', lipost: '' });
            $('#edit-tags').hide();
            $('#edit-tags-cancel').show();
            $('#edit-tags-done').show();
            $('ul.flow-tags').click();
        });

        $('#edit-tags-cancel').click(function (event) {
            if (tagEditor) {
                $('#edit-tags-cancel').hide();
                $('#edit-tags-done').hide();
                tagEditor.cancel();
                $('ul.flow-tags').attr('id', "");
                $('#edit-tags').show();
            }
            event.preventDefault();
        });


        $('#edit-tags-done').click(function (event) {
            $("#edit-tags-done-loader").show();
            if (tagEditor) {
                $('#edit-tags-cancel').hide();
                $('#edit-tags-done').hide();
                var tags = tagEditor.get();
                $.post("/app/{{ id }}/tags", { tags: tags }, function (data) {
                    tagEditor.strip();
                    $('ul.flow-tags').attr('id', "");
                    tagEditor = null;
                    $('#edit-tags').show();
                    $("#edit-tags-done-loader").hide();
                }).fail(function (err) {
                    console.error(err);
                    $("#edit-tags-done-loader").hide();
                });
            }
            event.preventDefault();
        });
    });

</script>
<script>
    const tabs = document.querySelectorAll(".tab-header");
    const contents = document.querySelectorAll(".tab-content");

    tabs.forEach((tab, index) => {
        tab.addEventListener("click", () => {
            tabs.forEach((tab) => tab.classList.remove("active"));
            tab.classList.add("active");

            contents.forEach((c) => c.classList.remove("active"));
            contents[index].classList.add("active");
        });
    });

    tabs[0].click();
</script>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-white", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-white";
    }
</script>
{{>_footer}}